*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}

#board {
	position:relative;
	top:10px;
}
#board, .messages {
	width: 560px;
	height:560px;
}
.messages { 
	position:absolute;
	top:0;
	left:0;
	display: none;
	background-color: rgba(0,0,0,.5);
	color:white;
	z-index:200;
}

.square{
	height:56px;
	width:56px;
	float:left;
	position:relative;
}

/* Setup different messages */
#start { 
	display:block;
	z-index:100;
	background-color: rgba(0,0,0,.5);
}
#win { 
	z-index:200;
	background-color: rgba(100,100,.5);
}
#lose {
	z-index:200;
	background-color: rgba(100,0,.5);
}
/* setup board squares */
.square.water{
	background-color: lightblue;
}
.square.grass {
	background-color: green;
}
.square.path {
	background-color: orange;
}
.square.winner { 
	background: red;
}
.square.start{
	z-index:150;
}

/* moving hazard/ predators */
.predator{
	height:28px;
	width: 28px;
	position:absolute;
	z-index:50;
}
.predator.shark{
	transform: translate(14px, 14px);
	animation-name: sharkSwim3x3;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}
.predator#shark_1 {
	background: yellow;
	animation-duration: 15s;
	animation-delay:-4s;
	animation-direction: alternate;
}
.predator#shark_2{
	top:56px;
	background-color: aqua;
	animation-duration: 10s;
	animation-direction: alternate-reverse;
}

.warning:hover ~ .arrow{
	animation: arrowDown 5s;
}
@keyframes arrowDown{
	0%{
		
	}
}

/* hide start screen */
.square:hover ~ #start {
	display: none;
}

/* Show the "You Lose" message */
.hazard:hover ~ #lose, 
.predator:hover ~ #lose,
#lose:hover{
	display: block !important;
}

/* Show the "You Won" message */
.square.winner:hover ~ #win, #win:hover {
	display: block;
}



/*********************/
/*  -- MOVEMENTS --  */

/* large shark moves in 3x3 area */
@keyframes sharkSwim3x3{
	0%{ 
		transform:translate(14px,14px);
	}
	10%{ 
		transform:translate(126px, 14px);
	}
	15%{ 
		transform:translate(126px, 126px);
	}
	25%{ 
		transform:translate(14px, 126px);
	}
	30%{ 
		transform:translate(14px, 70px);
	}
	40%{ 
		transform:translate(126px, 70px);
	}
	45%{ 
		transform:translate(126px, 14px);
	}
	50%{ 
		transform:translate(70px, 14px);
	}
	60%{ 
		transform:translate(70px, 126px);
	}
	65%{ 
		transform:translate(14px, 126px);
	}
	70%{ 
		transform:translate(70px, 126px);
	}
	80%{ 
		transform:translate(70px, 14px);
	}
	90%{ 
		transform:translate(126px, 14px);
	}
	95%{ 
		transform:translate(126px, 70px);
	}
	100%{ 
		transform:translate(14px, 70px);
	}
	
	
}